<a href="https://colab.research.google.com/github/Saisneha0209/Code-/blob/main/Basic_To_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#SUM OF VARIABLES

In [ ]:
a=12
b=50
print("sum of a and b",a+b)

sum of a and b 62

In [ ]:
print("Hello World")

Hello World

In [ ]:
a= "My name is Saisneha"
print(a)

My name is Saisneha

#DAILY ROUTINE

In [15]:
#DAILY ROUTINE
#CHORES
print("DAILY ROUTINE:-")
print("MORNING chores=7AM to 8AM")
print("SCHOOL=8AM to 2PM")
print("COACHING=3PM to 6PM")
print("HOME WORK=6PM TO 8PM")
print("SELF STUDY=8PM TO 10PM")
print("DINNER AND SLEEP=By 11PM")

DAILY ROUTINE:-
MORNING chores=7AM to 8AM
SCHOOL=8AM to 2PM
COACHING=3PM to 6PM
HOME WORK=6PM TO 8PM
SELF STUDY=8PM TO 10PM
DINNER AND SLEEP=By 11PM

In [6]:
a=("Saisneha")
b=("Muduli")
print(a+b)

SaisnehaMuduli

In [11]:
a=2
b=3
print(a+b)

5

#ACCOUNT HOLDER

In [13]:
#Bank details
print("Account holder name=Damini Rishi")
print("Account number=6235897165")
print("Residential Address=House no413,Sector 32 A,CHD")
print("Mobile Number=8936745289")

Account holder name=Damini Rishi
Account number=6235897165
Residential Address=House no413,Sector 32 A,CHD
Mobile Number=8936745289

#POPULATION OF DIFFERENT STATES

In [16]:
#PPopulation
print("POPULATION OF DIFFERENT STATES")
print("1.Punjab's population is 31.188 million")
print("2.Odisha's population is 4.19 million")
print("3.Gujarat's population is 74.14 million")
print("4.Uttrakhand's population is 1.86 million")

POPULATION OF DIFFERENT STATES
1.Punjab's population is 31.188 million
2.Odisha's population is 4.19 million
3.Gujarat's population is 74.14 million
4.Uttrakhand's population is 1.86 million

#BIO DATA

In [ ]:
#BIO DATA
print("My name is Saisneha")
print("My age is 16")
print("I belong to Odisha")
print("I currently live in Chandigarh")
print("My highest qualification is 10th pass")
print("My hobbies are studying,dancing and singing")
print("I am currently studying in KV")

My name is Saisneha
My age is 16
I belong to Odisha
I currently live in Chandigarh
My highest qualification is 10th pass
My hobbies are studying,dancing and singing
I am currently studying in KV

In [ ]:
a=("My name is Saisneha")
print(a)
b=("I study in class 11th")
print(b)

My name is Saisneha
I study in class 11th