<a href="https://colab.research.google.com/github/Saisneha0209/Code-/blob/main/FUNCTIONS_2_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#hcf formula
def find_hcf(a,b):
  while(b):
   a,b=b,a%b
  return a
num1=10
num2=15
print(find_hcf(num1,num2))

5

In [4]:
a=lambda a,b:a+b
print(a(3,7))

10

In [5]:
#key value
def focus(**kwargs):
  for key,value in kwargs.items():
    print(f"{key}={value}")
focus(name="saisneha",age=25)

name=saisneha
age=25

In [6]:
#f use
a=15
b=2
print(f"sum of {a} and the sum of{b} is:{a+b}")

sum of 15 and the sum of2 is:17

In [8]:
def fact(n):
  sum=0
  fact=1
  for i in range(1,n+1,2):
    for y in range(1,i+1):
      fact=fact*y
      #print(fact)
      sum=sum+fact
      print(sum)
x=4
fact(x)

1
2
4
10

In [9]:
def addnum(*args):
  return sum(args)
a=addnum(2,3,4)
b=addnum(3,9)
print(a)
print(b)

9
12

In [11]:
#factorial use by function
def fact(n):
  fact=1
  sum=0
  for i in range(1,n+1):
    fact=fact*i
  return fact
a=fact(5)
b=fact(2)
print(a)
print(b)

120
2

In [12]:
def fact(n):
  fact=1
  sum=0
  for i in range(1,n+1):
    fact=fact*i

  return fact

a=fact(5)
b=fact(2)
print(a)
print(b)

120
2

In [13]:
def biodata(name,age,salary):
  print(name)
  print(age)
  print(salary)
a=biodata("Saisneha",16,28000)

Saisneha
16
28000

In [14]:
#sum function #use
def add(n):
  sum=0
  for i in range(0,n+1):
    sum=sum+i
  print(sum)

#call

add(10)

55

In [18]:
#factorial #return
def mul(n):
  fact=1
  for i in range(1,n+1):
    fact=fact*i
  return fact

a=mul(10)
b=mul(20)
print(a)
print(b)

3628800
2432902008176640000

In [21]:
#factorial#
def mul(n):
  fact=1
  for i in range(1,n+1):
    fact=fact*i
  return fact

a=mul(10)
b=mul(5)
print(a)
print(b)

3628800
120

In [22]:
#add
def add(a,b,c):
  return a+b+c
a=add(2,5,6)
b=add(9,4,6)
print(a)
print(b)

13
19

In [2]:
def fact(n):#back se start hoga
 if n==0 or n==1:
  return 1
 else:
  return n*fact(n-1)
a=fact(5)
b=fact(3)
print(a)
print(b)

120
6