<a href="https://colab.research.google.com/github/Saisneha0209/Code-/blob/main/PRACTISE_OF_LOOPS_AND_FUNCTIONS_PART_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Q1
first_number=int(input("ENTER YOUR FIRST NUMBER:"))
second_number=int(input("ENTER YOUR SECOND NUMBER:"))
sum=first_number+second_number
print("Sum of both numbers together are:",sum)

ENTER YOUR FIRST NUMBER:25
ENTER YOUR SECOND NUMBER:25
Sum of both numbers together are: 50

In [2]:
#Q2
side=int(input("ENTER SIDE OF A SQUARE:"))
area=side*side
print("THE AREA OF THE SQAURE IS:",area)

ENTER SIDE OF A SQUARE:5
THE AREA OF THE SQAURE IS: 25

In [3]:
#Q3
first=float(input("ENTER FIRST NUMBER:"))
second=float(input("ENTER SECOND NUMBER"))
avg=(first+second)/2
print("THE AVERAGE OF THE NUMBERS ARE:",avg)

ENTER FIRST NUMBER:2
ENTER SECOND NUMBER2
THE AVERAGE OF THE NUMBERS ARE: 2.0

In [4]:
#Q4
a=int(input("ENTER FIRST NUMBER:"))
b=int(input("ENTER SECOND NUMBER:"))
if a>=b:
  print("TRUE")
else:
  print("FALSE")

ENTER FIRST NUMBER:5
ENTER SECOND NUMBER:9
FALSE

In [5]:
#Q5
num=int(input("ENTER YOUR NUMBER"))
rem=num%2
if rem == 0:
  print("NUMBER IS EVEN")
else:
  print("NUMBER IS ODD")

ENTER YOUR NUMBER52
NUMBER IS EVEN

In [6]:
#Q6
a=int(input("ENTER FIRST NUMBER:"))
b=int(input("ENTER SECOND NUMBER:"))
c=int(input("ENTER THIRD NUMBER"))
if a>=b and a>=c:
  print("LARGEST NO IS",a)
elif b>=c:
  print("LARGEST NO IS",b)
else:
  print("LARGEST NO IS",c)

ENTER FIRST NUMBER:45
ENTER SECOND NUMBER:45
ENTER THIRD NUMBER89
LARGEST NO IS 89

In [7]:
#Q7
x=int(input("enter your number"))
if x % 7 == 0:
  print("MULTIPLE OF SEVEN")
else:
  print("NOT A MULTIPLE OF SEVEN")

enter your number14
MULTIPLE OF SEVEN

In [8]:
#Q8
for i in range(1,101):
  print(i)
  i+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [11]:
for i in range(100,0,-1):
  print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [18]:
n=5
sum=0
for i in range(1,n+1):
  sum+=i
print("TOTAL SUM IS:",sum)

TOTAL SUM IS: 15

In [19]:
n=5
sum=0
for i in range(1,n+1):
  sum+=i
 #TO SHOW THE DIFFERENCE
  print("TOTAL SUM IS:",sum)

TOTAL SUM IS: 1
TOTAL SUM IS: 3
TOTAL SUM IS: 6
TOTAL SUM IS: 10
TOTAL SUM IS: 15

In [20]:
n=4
fact=1
i=1
while i <=n:
  fact*= i
  i+=1
print("factorial=",fact)

factorial= 24

In [61]:
n=5
fact=1
i=1
while i<=n:
  fact*=i
  i+=1
print("factorial is:",fact)

factorial is: 120

In [25]:
for i in range(5):
  print("SAISNEHA")

SAISNEHA
SAISNEHA
SAISNEHA
SAISNEHA
SAISNEHA

In [27]:
first=int(input("enter first numbers"))
second=int(input("enter second number"))
sum=first+second
difference=first-second
product=first*second
quotient=first/second
print(sum)
print(difference)
print(product)
print(int(quotient))

enter first numbers45
enter second number85
130
-40
3825
0

In [28]:
a=int(input("enter first number"))
if a % 2 ==0:
  print("NUM IS EVEN")
else:
  print("ODD")

enter first number45
ODD

In [32]:
n=int(input("enter your number"))
for i in range(1,11):
   print(n*i)

enter your number4
4
8
12
16
20
24
28
32
36
40

In [33]:
for i in range(1,11):
  print(i*i)

1
4
9
16
25
36
49
64
81
100

In [36]:
n=int(input("enter the number"))
if n<0:
  print("NEGATIVE")
elif n==0:
  print("ZERO")
else:
  print("POSITIVE")

enter the number45
POSITIVE

In [40]:
for i in range(1,51):
  if i % 2 ==0:
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [45]:
age=int(input("enter your age"))
if age<=10:
 print("CHILD")
elif age<=18 and age>=11:
   print("TEENAGER")
else:
 print("ADULT")

enter your age4
CHILD

n=5
sum=0
for i in range(1,n+1):
  sum+=i
 #TO SHOW THE DIFFERENCE
  print("TOTAL SUM IS:",sum)

In [57]:
n=4
sum=0
for i in range(1,n+1):
  sum+=i
print("total sum is",sum)

total sum is 10

In [58]:
fact=1
while i in range (i<=5 and i>=1):
  print("factorial is",fact*1)

In [29]:
while i>=1 and i<=10:
  print(i)
  i+=1

4
5
6
7
8
9
10

In [12]:
n=int(input("ENTER YOUR NUMBER:"))
for i in range(1,11):
  print(n*i)

ENTER YOUR NUMBER:12
12
24
36
48
60
72
84
96
108
120

In [63]:
for i in range(1,101):
  if i%3==0 and i%5==0:
    print(i)

15
30
45
60
75
90

In [64]:
a=int(input("enter first number"))
b=int(input("enter second number"))
c=int(input("enter third number"))
if a>=b and a>=c:
  print("FIRST NUMBER IS THE LARGEST NUMBER")
elif b>=c:
  print("SECOND NUMBER IS THE LARGEST NUMBER")
else:
  print("THIRD NUMBER IS THE LARGEST NUMBER")

enter first number45
enter second number89
enter third number76
SECOND NUMBER IS THE LARGEST NUMBER

In [65]:
def calc_sum(a,b):
  sum=a+b
  print(sum)
  return sum

calc_sum(5,10)
calc_sum(4,17)
calc_sum(7,14)
calc_sum(8,10)

15
21
21
18

18

In [70]:
def calc_avg(a,b,c):
  sum=a+b+c
  avg=sum/3
  print(avg)
  return avg

calc_avg(95,97,98)

96.66666666666667

96.66666666666667

In [72]:
n=5
fact=1
for i in range(1,n+1):
  fact*=1
print(fact)

1

In [75]:
def calc_fact(n):
  fact=1
  for i in range(1,n+1):
     fact*=i
  print(fact)

calc_fact(5)
calc_fact(8)

120
40320