<a href="https://colab.research.google.com/github/Saisneha0209/Code-/blob/main/PRACTISE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#VARIABLES AND DATA TYPES

In [4]:
#ANOTHER METHOD OF USING THIS FOR SPECIAL CHARACTERS
a,b=2,3
txt="@"
print(2*txt*3)

@@@@@@

In [5]:
#SAME AS ABOVE
a,b="2",3
txt="$"
print((a+txt)*b)

2$2$2$

In [8]:
#CODE FOR TRAFFIC LIGHT
light=input("light:")
if(light=="red"):
  print("stop")
elif(light=="green"):
  print("go")
elif(light=="yellow"):
  print("watch out")
else:
  print("LIGHT IS BROKEN")

light:green
go

In [13]:
#BY USING IF-ELIF-ELSE FOR GRADE
marks = int(input("marks:"))
if(marks >= 90):
  print("A")
elif(marks >= 80 and marks < 90):
  print("B")
elif(marks >= 70 and marks < 80):
  print("c")
else:
  print("D")

marks:90
A

In [14]:
#CALCULATIN SIMPLE INTEREST
P=float(input("P:"))
R=float(input("R:"))
T=float(input("T:"))
SI=(P*R*T)/100
print(SI)

P:1500
R:120
T:14
25200.0

In [15]:
a=int(input("Enter first number"))
b=int(input("Enter second number"))
sum=a+b
print("SUM OF A and B is:",sum)

Enter first number54
Enter second number98
SUM OF A and B is: 152

In [16]:
#AREA OF THE SQUARE USING ITS FORMULA
side=int(input("Enter the value of the side of square"))
area=side*side
print("Area of the square is:",area)

Enter the value of the side of square5
Area of the square is: 25

In [17]:
#FINDING THE AVERAGE OF TWO NUMBERS
first=float(input("ENTER THE FIRST FLOATING NUMBER"))
second=float(input("ENTER THE SECOND FLOATING NUMBER"))
average=(first+second)/2
print("The average of first and second number is:",average)

ENTER THE FIRST FLOATING NUMBER25.5
ENTER THE SECOND FLOATING NUMBER30.5
The average of first and second number is: 28.0

In [18]:
#BY USING IF-ELSE CONDITION
a=int(input("ENTER FIRST NUMBER"))
b=int(input("ENTER SECOND NUMBER"))
if a >= b:
  print("TRUE")
else:
  print("FALSE")

ENTER FIRST NUMBER54
ENTER SECOND NUMBER98
FALSE

#STRINGS AND CONDITIONAL STATEMENTS

In [20]:
str1="This is a string.\nWe are good at maths."#Here backslash(\)n is used so that the second must come to second line while getting the output.
print(str1)

This is a string.
We are good at maths.

In [21]:
a="hello" + "world"#This is basic operation called concatenation
print("A here is",a)

A here is helloworld

OR

In [22]:
a="HELLO"
b="WORLD"
print(a+b)

HELLOWORLD

In [23]:
#LENGTH OF THE STR(STRING)
a="HELLO"
print(len(a))
b="WORLD"
print(len(b))
print(a+b)

5
5
HELLOWORLD

In [25]:
#INDEXING
#It means when a string is created internally all the characters always get a string.
#SAISNEHA
#01234567
#SO string[0] is S,string[1] is A and so on.....#Here we use square brackets.
str="SAISNEHA"
ch=str[1]
print(ch)

A

In [26]:
number=int(input("enter the number"))#If reminder gives zero then it is an even number otherwise odd
rem=number%2
if rem==0:
  print("EVEN")
else:
  print("ODD")

enter the number29
ODD

In [30]:
a=int(input("ENTER THE FIRST NUMBER"))#Here we are finding the largest number among these three
b=int(input("ENTER THE SECOND NUMBER"))
c=int(input("ENTER THE THIRD NUMBER"))
if a>b and a>c:
  print("FIRST NUMBER IS LARGEST",a)
elif b>=c:
  print("SECOND NUMBER IS THE LARGEST",b)
else:
  print("THIRD IS LARGEST")

ENTER THE FIRST NUMBER7
ENTER THE SECOND NUMBER5
ENTER THE THIRD NUMBER1
FIRST NUMBER IS LARGEST 7

In [37]:
num=int(input("ENTER THE NUMBER"))#TO CHECK WHETHER THE FOLLOWING NUM IS A MULTIPLE OF 7 OR NOT
if num%7 == 0:
  print("It is the multiple of 7")
else:
  print("It is not a multiple of 7")

ENTER THE NUMBER20
It is not a multiple of 7

#LOOPS(FOR OR WHILE)

In [39]:
for i in range (1,6):
  print("HELLO")

HELLO
HELLO
HELLO
HELLO
HELLO

In [42]:
count=1#Here the count can be considered as variables and known as ITERATOR for eg.i,j,k etc.....,and to put them in loop is known as ITERATION.
while count <= 5:
  print("HELLO")
  count +=1

print(count)

HELLO
HELLO
HELLO
HELLO
HELLO
6

In [45]:
i=1#Printing one word so many times we use loop
while i <= 5:
  print("SAISNEHA")
  i+=1

SAISNEHA
SAISNEHA
SAISNEHA
SAISNEHA
SAISNEHA

In [47]:
i=1#We want counting from 1 to 5
while i<= 5:
  print(i)
  i+=1
print("LOOP ENDED")

1
2
3
4
5
LOOP ENDED

In [49]:
i=5#REVERSED
while i>=1:
  print(i)
  i-=1

5
4
3
2
1

In [50]:
i=1
while i<= 100:
  print(i)
  i+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [51]:
i=100
while i>=1:
  print(i)
  i-=1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [53]:
i=1#Multiplying any N number
while i<=10:
  print(3*i)
  i+=1

3
6
9
12
15
18
21
24
27
30

In [54]:
n=int(input("Enter your number that you want to multiply:"))
i=1#Multiplying any N number
while i<=10:
  print(n*i)
  i+=1

Enter your number that you want to multiply:78
78
156
234
312
390
468
546
624
702
780

#BREAK and CONTINUE

In [ ]:
#Break=used to terminate the loop
#Continue=terminates execution in the current iteration & continues execution of the loop with the next iteration

#FUNCTION AND RECURSION

In [57]:
#Block of statements that perform a specific task.
#Repetation of the whole code(Redundant) and function is udes to reduce redundancy as it seems stupid
#You can convert that into function #Defining function
def calc_sum(a,b):#Arguement
  sum=a+b
  print(sum)
  return sum

calc_sum(5,10)

calc_sum(15,20)

calc_sum(89,63)

15
35

35

In [58]:
#FUNCTION DEFINITION
def calc_sum(a,b):#PARAMETERS(a,b)
  return a+b

sum=calc_sum(1,2)#function call;arguements(variables)
print(sum)

3

In [64]:
def print_hello():
    print("HELLO")

print_hello()

HELLO

In [66]:
def ave_num(a,b,c):
  sum=a+b+c
  average=sum/3
  print(average)
  return average

ave_num(1,2,3)

2.0

2.0