<a href="https://colab.research.google.com/github/Saisneha0209/Code-/blob/main/RANGE(LOOPS).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
for i in range(1,11):
  print(1)

1
1
1
1
1
1
1
1
1
1

In [3]:
for i in  range(0,100,5):
  print(i)

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

In [4]:
for i in range(0,100,2):
  print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [5]:
sum=0
for i in range(1,15):
  sum=sum+i
  print(sum)

1
3
6
10
15
21
28
36
45
55
66
78
91
105

#! exaclatory use in opposite way

In [7]:
#even and odd number(!!!!!!!!!!!!)
for i in range(1,100):
   if i in range(1,100):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [11]:
#given a range decrease level
for i in range(100,0,-1):
  print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [13]:
#even number find sum
sum=0
for i in range(1,100):
  if(i%2!=0):
    sum=sum+i
print(sum)

2500

In [15]:
#odd number sum find
sum=0
for i in range(1,100):
  if(i%2!=0):
    sum=sum+i
print(sum)

2500

In [17]:
#divisible
sum=0
for i in range(1,1000):
  if(i%10==0 or i%25==0):
    sum=sum+i
print(sum)

59500

In [20]:
#25 and 30 fraction
sum=0
for i in range(1,1000):
  if(i%25==0 and i%30==0):
    sum=sum+i
print(sum)

3150