<a href="https://colab.research.google.com/github/Saisneha0209/Code-/blob/main/SET_and_DICTIONARIES_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Indexing nahi hota.
#yahan append nahi add hota h.

#SET

In [10]:
#SET
a={1,2,3,4,5,6,7,8,9,1,5,4,2,7,8,3,1}
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

#DICTIONARY

In [4]:
a={"name":"sai",#first one are called keys #changable value not allowed with key so only tuple is allowed,but
   "age":20}  #the second one called values you can take any data type
print(a)

{'name': 'sai', 'age': 20}

In [7]:
a={"Name":"Saisneha",
  "Class":11,
   "Age":16,
   "Stream":"NON MED(SCIENCE)"}
print(a)

{'Name': 'Saisneha', 'Class': 11, 'Age': 16, 'Stream': 'NON MED(SCIENCE)'}

In [8]:
a={"Name":"Saisneha",
  "Class":11,
   "Age":16,
   "Stream":"NON MED(SCIENCE)"}
for key,value in a.items():
 print(key,"=",value)

Name = Saisneha
Class = 11
Age = 16
Stream = NON MED(SCIENCE)

#To print keys and the value together with equal sign

In [15]:
restaurant_bill={"customer_name": "Vineet Jasuja",
                 "item":"Burger",
                 "price":90,
                 "item2":"Fries",
                 "price2":120,
                 "Item3":"Drink",
                 "price3": 50,
                 "discount":15}
for key,value in restaurant_bill.items():
 print(key,"=",value)

customer_name = Vineet Jasuja
item = Burger
price = 90
item2 = Fries
price2 = 120
Item3 = Drink
price3 = 50
discount = 15

#To print value only not the keys

In [18]:
restaurant_bill={"customer_name": "Vineet Jasuja",
                 "item":"Burger",
                 "price":90,
                 "item2":"Fries",
                 "price2":120,
                 "Item3":"Drink",
                 "price3": 50,
                 "discount":15}
for value in restaurant_bill.values():
 print(value)

Vineet Jasuja
Burger
90
Fries
120
Drink
50
15

#TOTAL BILL

In [22]:
restaurant_bill={"customer_name": "Vineet Jasuja",
                 "item":"Burger",
                 "price":90,
                 "item2":"Fries",
                 "price2":120,
                 "Item3":"Drink",
                 "price3": 50,
                 "discount":15}

total_price = restaurant_bill["price"] + restaurant_bill["price2"] + restaurant_bill["price3"]
discount_amount = restaurant_bill["discount"]
final_bill = total_price - discount_amount

print("Total price of items:", total_price)
print("Discount amount:", discount_amount)
print("Final bill:", final_bill)

Total price of items: 260
Discount amount: 15
Final bill: 245