<a href="https://colab.research.google.com/github/Saisneha0209/Code-/blob/main/STRING_and_PROBLEM_SOLVING.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ZeroDivisionError  
#Here this is the error                       Traceback (most recent call last)
/tmp/ipython-input-1926354841.py in <cell line: 0>()
      1 a=10
      2 b=0
----> 3 print(a/b)

ZeroDivisionError: division by zero

In [8]:
#when you divide something by 0 then you get error but here what to do
#EXCEPTION HANDLING
try:
  a=10
  b=0
  print(a/b)
except ZeroDivisionError:
  print("You have obtained 0")
else:
  print("You have succesfully obtained")
finally:
  print("THANK YOU SO MUCH")

You have obtained 0
THANK YOU SO MUCH

#STRING

In [9]:
#STRING
name1="Saisneha"
name2=" Muduli"#space
print(name1+name2)

Saisneha Muduli

In [13]:
state="Punjab"#always the letter will start from 0[P],1[u],2[n],3[j],4[a],5[b]
print(state[5])

b

In [15]:
state="punjab"#to check whether the letter is available in the given alphabet or not
if "n" in state:
  print("available")
else:
  print("unavailable")

available

In [16]:
"punjab"#to get all the alphabets in the letter
for i in state:
  print(i)

p
u
n
j
a
b

In [22]:
state="     saisneha"#you only want the characters not the space
state.strip()

'saisneha'

In [39]:
state="punjab"#we have to check whether the alphabets is in letter or not
print(state.startswith("p"))
print(state.endswith("j"))
print(state.replace("j","k"))

True
False
punkab

#SLICING(#forward)
(to remove)

In [40]:
#slicing
UT="chandigarh"
UT=UT[0:5]#ek badha ke likhna padega to get first 4 as the alphabet starts from 0 to soo onn....
print(UT)

chand

In [41]:
UT="chandigarh"
UT=UT[0:5:2]#ek-ek chhod kar chaiye agar toh
print(UT)

cad

In [43]:
#if from in between
SI="ABKCDF"
SI=SI[3:5]#same we can do minus if we want to remove last words
print(SI)

CD

In [45]:
SI="xyz"#reversing
SI=SI[::-1]
print(SI)

zyx

In [46]:
SI="xyz"#reversing
SI=SI[::-2]
print(SI)

zx

#SLICING BACKWARDS

In [48]:
name="xyzabc"
S2=name[-5:-2]
print(S2)

yza

#DO PALINDROME QUESTION

LIST AND TUPLE AND SET AND DICTIONARY=DATA STRUCTURE

In [ ]:
Q:a rope is of 36 m and another of 48 m
find??